services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      SPRING_R2DBC_URL: r2dbc:h2:mem:///documents?options=DB_CLOSE_DELAY=-1
      SPRING_R2DBC_USERNAME: sa
      SPRING_R2DBC_PASSWORD: ""
